<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="com.weibo.android.example"
      android:versionCode="1"
      android:versionName="1.0">
    <uses-sdk android:minSdkVersion="7" />

    <application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name="AuthorizeActivity"
        		  android:configChanges="keyboardHidden|orientation"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <data android:scheme="weibo4andriod" android:host="OAuthActivity" />
            </intent-filter>
        </activity>
        
        <activity android:configChanges="keyboardHidden|orientation" android:name="TestActivity">
	        <intent-filter>
		        <action android:name="android.intent.action.VIEW" />
		        <category android:name="android.intent.category.DEFAULT" />
		        <category android:name="android.intent.category.BROWSABLE" />
		        <data android:scheme="weiboandroidsdk" android:host="TimeLineActivity" /> 
			</intent-filter>
        </activity>
        
        <activity android:theme="@style/ContentOverlay"
        	android:launchMode="singleTask"
			android:configChanges="keyboardHidden|orientation"                           
			android:windowSoftInputMode="adjustPan|stateAlwaysVisible" android:name="com.weibo.net.ShareActivity">
		</activity>

    </application>
    
    <uses-permission android:name="android.permission.INTERNET"></uses-permission>   
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"></uses-permission> 
	<uses-permission android:name="android.permission.WRITE_APN_SETTINGS"></uses-permission>
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"></uses-permission>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
</manifest>