<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.music.cs"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="10" />

    <application
        android:icon="@drawable/music"
        android:label="@string/app_name" >
        <activity
            android:label="@string/app_name"
            android:name="org.music.cs.ui.MainActivity" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="org.music.cs.ui.SongsActivity"></activity>
        <activity android:name="org.music.cs.ui.ArtistsActivity"></activity>
        <activity android:name="org.music.cs.ui.ListActivity"></activity>
        <activity android:name="org.music.cs.ui.AlbumsActivity"></activity>
        <activity android:name="org.music.cs.ui.MusicActivity"></activity>
        <service  android:name="org.music.cs.ui.MusicService"></service>
    </application>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
</manifest>