<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"

	package="com.example" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />


	<application android:icon="@drawable/icon" android:label="@string/app_name"
	>
		<activity android:name=".UITutorial_V2Activity"
		android:theme="@style/sharpTheme"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".layout.layout1Activity"
			android:label="@string/layout1_app_name"></activity>
		<activity android:name=".layout.layout2Activity"
			android:label="@string/layout2_app_name"></activity>
			<activity android:name=".layout.tablelayoutActivity"
			android:label="@string/tablelayout_app_name"></activity>
			<activity android:name=".layout.RadioLayoutActivity"
			android:label="@string/radiolayout_app_name"></activity>
			<activity android:name=".layout.CheckBoxLayoutActivity"
			android:label="@string/checkboxlayout_app_name"></activity>
			<activity android:name=".layout.ListViewLayoutActivity"
			android:label="@string/listviewlayout_app_name"></activity>
			<activity android:name=".layout.SpinnerLayoutActivity"
			android:label="@string/spinnerlayout_app_name"></activity>
			<activity android:name=".layout.progressbarLayoutActivity"
			android:label="@string/progressbarlayout_app_name"></activity>
			<activity android:name=".layout.DialActivity"
			android:label="@string/dial_app_name"></activity>
			<activity android:name=".layout.SmsActivity"
			android:label="@string/dial_app_name"></activity>
			<activity android:name=".layout.NotificationActivity"
			android:label="通知示例"></activity>
			<activity android:name=".layout.EditTextChangeActivity"
			android:label="输入框监听"></activity>
			<activity android:name=".layout.ActivityLifecycle"
			android:label="Activity生命周期"></activity>
			
			<activity android:name=".layout.HandlerActivity"
			android:label="Handler"></activity>
			<activity android:name=".animation.FrameAnimationActivity"
			android:label="Frame Animation"></activity>
			<activity android:name=".animation.ScaleAnimationActivity"
			android:label="@string/scaleanimation_app_name"></activity>
			<activity android:name=".animation.RotateAnimationActivity"
			android:label="Rotate Animation"></activity>
			<activity  android:name=".animation.TranslateAnimationActivity"
			android:label="Translate Animation"></activity>
			<activity android:name=".animation.AlphaAnimationActivity"
			android:label="Alpha Animation"></activity>
			<activity android:name=".layout.AutoCompleteTextViewActivity"
			android:label="AutoCompleteText"></activity>
	</application>
	<uses-permission android:name="android.permission.CALL_PHONE">
	</uses-permission>
	<uses-permission android:name="android.permission.SEND_SMS"/>
</manifest>